  .md\:grid-cols-1 {
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }

  .md\:grid-cols-2 {
    @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr) !important;
    }
  }